.navbar1 a{
    float: left;
    list-style-type: none;
    padding: 12px 30px;
    color: #999;
    cursor: pointer;
}
.navbar1 a:hover{
    color: #fff;
    text-decoration: none;
}
.navbar1{
    background-color: rgba(0,0,0,.85);
}
.navbar1-right a{
    padding: 12px 6px;
}
.navbar1-right{
    float: right;
}
.navbar2 a{
    float: left;
    list-style-type: none;
    padding: 10px 30px;
    color: #999;
    cursor: pointer;
    font-size: 15px;
}
.navbar2 a:hover{
    color: black;
    text-decoration: none;
}
.navbar2{
    background-color: rgba(192,192,192,0.3);
}
.navbar2-input{
    margin: 10px;
    border-radius: 40px;
}
.dropbtn{
    color: white;
    padding: 4px;
    font-size: 16px;
    border: none;
}
.dropdown{
    float: right;
    position: relative;
}
.dropdown-content{
    display: block;
    top: 42px;
    right: 12px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
}
.dropdown-content a{
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover{
    background-color: #ddd;
    width: 100%;
}